#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 82vh 1vh;
}
#input {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 5px;
}
#output {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px;
    overflow: scroll;
}
#tools {
    grid-column: 1/3;
    grid-row: 1/2;
}
#toggle1{
    display: none;
}
.toggle-inner{
    display: none;
}
#toggle1:checked ~ .toggle-inner{
    display: block;
}
textarea {
    resize: none;
}